@page "/App/Links"
@using Microsoft.AspNetCore.Components.Sections
@rendermode InteractiveWebAssembly

@inject IUserService UserService
@inject IShortLinkService ShortLinkService

@attribute [StreamRendering]


<PageTitle>Ссылки</PageTitle>

<SectionContent SectionName="top-bar">
    <h3 class="text-2xl">Ссылки</h3>

    <label for="create-link-drawer" class="btn btn-primary rounded-lg">
        <i class="fas fa-plus"></i>
        Создать ссылку
    </label>
</SectionContent>


<div class="drawer drawer-end">
    <input id="create-link-drawer" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content">
        <div class="flex flex-col">
            <div class="p-4">
                @if (_links == null)
                {
                    <p>?Загружаю&hellip;</p>
                }
                else
                {
                    foreach (var link in _links)
                    {
                        <ShortLinkItem Link="@link" OnCopy="() => { }"/>
                    }
                }
            </div>
        </div>
    </div>

    <div class="drawer-side">

        <div class="flex flex-col flex-grow w-1/2 max-w-[480px] bg-base-100 h-screen shadow-lg">
            <div class="flex px-4 navbar menu-horizontal align-center gap-2">
                <label id="create-form-label" for="create-link-drawer" aria-label="close sidebar"
                       class="btn btn-square btn-soft rounded-lg">
                    <i class="fas fa-arrow-right-from-bracket"></i>
                </label>
                <h3 class="text-2xl">Создать ссылку</h3>
            </div>

            @* <CreateLinkForm Loading="@Loading" OnSubmit="OnCreateLinkSubmit"></CreateLinkForm> *@
        </div>
    </div>
</div>

@code {
    private int _page = 1;
    private int _perPage = 10;
    private List<ShortLinkDto>? _links = null;

    [CascadingParameter] private Profile? Profile { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _links = await ShortLinkService.GetLinksAsync(_page, _perPage, Profile?.Id ?? "");
        StateHasChanged();
    }

}