@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<section id="confirmation" class="py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl py-4 mb-4 text-gradient">
            Forgot password confirmation
        </h1>
        <div role="alert" class="alert alert-info">
            Пожалуйста, проверьте вашу электронную почту, чтобы сбросить пароль.
        </div>

    </div>
</section>
