@page "/Account/ResetPassword"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Utya.Data

@inject IdentityRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Сброс пароля</PageTitle>

<section>
    <div class="container w-128 mx-auto px-4 max-w-xl">

        <h1 class="text-5xl py-4 mb-4 text-gradient">Сброс пароля</h1>

        <div class="card card-dash bg-base-200 shadow-lg">
            <div class="card-body">
                <StatusMessage Message="@Message"/>
                <EditForm Model="Input" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                    <DataAnnotationsValidator/>
                    <ValidationSummary class="text-danger" role="alert"/>

                    <input type="hidden" name="Input.Code" value="@Input.Code"/>
                    <fieldset class="fieldset">
                        <legend for="Input.Email" class="fieldset-legend">Email</legend>
                        <InputText @bind-Value="Input.Email" id="Input.Email" class="input w-full"
                                   autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <ValidationMessage For="() => Input.Email" class="text-danger"/>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend for="Input.Password" class="fieldset-legend">Password</legend>
                        <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="input w-full"
                                   autocomplete="new-password" aria-required="true"
                                   placeholder="Please enter your password."/>
                        <ValidationMessage For="() => Input.Password" class="text-danger"/>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend for="Input.ConfirmPassword" class="fieldset-legend">Confirm password</legend>
                        <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword"
                                   class="input w-full" autocomplete="new-password" aria-required="true"
                                   placeholder="Please confirm your password."/>
                        <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger"/>
                    </fieldset>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
                </EditForm>
            </div>
        </div>

    </div>
</section>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery] private string? Code { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    protected override void OnInitialized()
    {
        if (Code is null)
        {
            RedirectManager.RedirectTo("Account/InvalidPasswordReset");
        }

        Input.Code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
    }

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null)
        {
            // Don't reveal that the user does not exist
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
        }

        var result = await UserManager.ResetPasswordAsync(user, Input.Code, Input.Password);
        if (result.Succeeded)
        {
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
        }

        identityErrors = result.Errors;
    }

    private sealed class InputModel
    {
        [Required] [EmailAddress] public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [Required] public string Code { get; set; } = "";
    }

}
