@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<section id="confirmation" class="py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-2xl mb-4">Reset password confirmation</h1>
        <div role="alert" class="alert alert-success">
            Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
        </div>
    </div>
</section>