@using Microsoft.AspNetCore.Identity
@using Utya.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="menu flex-col">
    <li class="nav-item">
        <NavLink ActiveClass="menu-active" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="menu-active" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="menu-active" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
    @if (_hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink ActiveClass="menu-active" href="Account/Manage/ExternalLogins">External logins</NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink ActiveClass="menu-active" href="Account/Manage/TwoFactorAuthentication">Two-factor authentication
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink ActiveClass="menu-active" href="Account/Manage/PersonalData">Personal data</NavLink>
    </li>
</ul>

@code {
    private bool _hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        _hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }

}
