<!-- Footer -->
<footer id="contact" class="footer bg-base-200 text-base-content py-12">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div>
                <div class="flex items-center mb-4">
                    <div class="w-10 h-10 flex items-center justify-center mr-3 text-gradient">
                        <i class="text-xl">🪿</i>
                    </div>
                    <h3 class="text-xl font-bold text-gradient">
                        Утя</h3>
                </div>
                <p class="mb-4">Очень быстрый и надежный сервис сокращения ссылок.</p>
                <div class="flex space-x-4">
                    <a href="#"
                       class="w-8 h-8 rounded-full bg-base-300 flex items-center justify-center hover:bg-primary/60 transition">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="#"
                       class="w-8 h-8 rounded-full bg-base-300 flex items-center justify-center hover:bg-primary/60 transition">
                        <i class="fab fa-vk"></i>
                    </a>
                    <a href="#"
                       class="w-8 h-8 rounded-full bg-base-300 flex items-center justify-center hover:bg-primary/60 transition">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#"
                       class="w-8 h-8 rounded-full bg-base-300 flex items-center justify-center hover:bg-primary/60 transition">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            
            <div class="flex flex-grow"></div>

            <div>
                <h4 class="text-lg font-semibold mb-4">Продукт</h4>
                <ul class="space-y-2">
                    <li><a href="/#features" class="hover:text-amber-400 transition">Возможности</a></li>
                    <li><a href="/#pricing" class="hover:text-amber-400 transition">Тарифы</a></li>
                    @* <li><a href="#" class="hover:text-amber-400 transition">API</a></li> *@
                    @* <li><a href="#" class="hover:text-amber-400 transition">Интеграции</a></li> *@
                </ul>
            </div>

            @* <div> *@
            @*     <h4 class="text-lg font-semibold mb-4">Ресурсы</h4> *@
            @*     <ul class="space-y-2"> *@
            @*         <li><a href="#" class="hover:text-amber-400 transition">Блог</a></li> *@
            @*         <li><a href="#" class="hover:text-amber-400 transition">Документация</a></li> *@
            @*         <li><a href="#" class="hover:text-amber-400 transition">Гид по началу работы</a></li> *@
            @*         <li><a href="#" class="hover:text-amber-400 transition">Сообщество</a></li> *@
            @*     </ul> *@
            @* </div> *@

            <div>
                <h4 class="text-lg font-semibold mb-4">Компания</h4>
                <ul class="space-y-2">
                    <li><a href="/about" class="hover:text-amber-400 transition">О нас</a></li>
                    @* <li><a href="#" class="hover:text-amber-400 transition">Карьера</a></li> *@
                    <li><a href="/contacts" class="hover:text-amber-400 transition">Контакты</a></li>
                    @* <li><a href="#" class="hover:text-amber-400 transition">Политика конфиденциальности</a></li> *@
                </ul>
            </div>
        </div>

        <div class=" w-full border-t border-gray-800 mt-12 pt-8 flex flex-col md:flex-row justify-between items-center">
            <p>&copy; @DateTime.Now.Year Утя. Все права защищены.</p>
            <div class="flex space-x-6 mt-4 md:mt-0">
                <a href="/terms" class="hover:text-amber-400 transition">Условия использования</a>
                <a href="/privacy-policy" class="hover:text-amber-400 transition">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>
